@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.ck-editor__editable {
  width: 100%;
}

/* Add padding to the entire content of the editor */
.ck-content {
  padding: 16px;
  box-sizing: border-box;
}

/* Add left padding specifically for lists to prevent cropping */
.ck-content ol,
.ck-content ul {
  padding-left: 16px;  
}

/* Optional: Add some margin to list items */
.ck-content li {
  margin-left: 6px; 
}

.ck-content h1 {
  font-size: 2em; /* Adjust size as needed */
}
.ck-content h2 {
  font-size: 1.75em;
}
.ck-content h3 {
  font-size: 1.5em;
}



.p-chips-input-token{
  padding: 15px;
}


datalist {
  max-height: 150px; /* Set height */
  overflow-y: auto; /* Scroll if necessary */
}


